.colour {
    height: 75%;
    aspect-ratio: 1/1;
    border: 1px solid black;
}

.legend-container {
    display: grid;
    max-width: 80vw;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-bottom: 10px;

}

.legend-child {
    display: flex;
    padding: .5rem;
}

.legend-child p {
    margin-left: 5px;
    font-weight: bold;
}
